 @{
    Layout = "_MainLayout";
}
<h1>Contact Us</h1>
<p>
    You can contact Equinox by email at <a href="mailto:info@equinox.com">info@equinox.com</a> or call us at (555) 123-4567.<br />
    Our support team is available from 9AM to 5PM, Monday to Friday.
</p>