@{
    Layout = "_MainLayout";
}
<h1>Cookie Policy</h1>
<p>
    Equinox uses cookies to enhance user experience. By using our site, you agree to the use of cookies as described below.
</p>
<ul>
    <li>Cookies help remember your preferences.</li>
    <li>You can disable cookies in your browser settings.</li>
    <li>For questions, contact us at cookies@equinox.com.</li>
</ul>