@{
    Layout = "_MainLayout";
}
<div class="home-background">
    <div class="container text-center home-welcome-box">
        <h1>Welcome to Equinox!</h1>
        <p>Your hub for clubs, classes, membership, and private training.</p>
    </div>
</div>