@{
    Layout = "_MainLayout";
}

<div class="home-background">
    <div class="container text-center home-welcome-box">
        <h1>Welcome to Equinox!</h1>
        <p>Your Hub for Clubs, Classes, Membership, & Private Training.</p>
    </div>
</div>