@{
    Layout = "_MainLayout";
}
<h1>Terms &amp; Condition</h1>
<p>
    By using the Equinox web application, you agree to our terms and conditions as outlined on this page.
</p>
<ul>
    <li>All users must comply with local laws and regulations.</li>
    <li>Services are provided as-is, with no guarantees.</li>
    <li>For more details, contact our support team.</li>
</ul>